.product-details-navigation {
  &__container {
    grid-column: 1 / -1;
    padding: 1rem;
    border-bottom: $border-line;
    text-transform: uppercase;
  }

  &__list {
    padding-left: 4rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    &--item {
        display: flex;
        flex-direction: row;
        gap: .5rem;

        & span {
            line-height: 1.2 !important;
        text-decoration: none;
        color: $color-brawn;
        font-size: 1.2rem;
        font-family: $font-sans;
        font-weight: 400;
        }

      & a {
        line-height: 1.2 !important;
        text-decoration: none;
        color: $color-brawn;
        font-size: 1.2rem;
        font-family: $font-sans;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 200ms;
      }

      & a:hover{
        color: $color-black;
      }
    }

    
  }
}
