.form {
  &__container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    font-size: 3rem;
  }

  &__inputs {
    width: 60rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}

.product-insert {
  &__name {
    grid-column: 1 / -1;
  }

  &__price {
    grid-column: 1 / 2;
  }

  &__quantity {
    grid-column: 2 / 3;
  }

  &__description {
    grid-column: 1 / -1;
  }

  &__image-upload {
    grid-column: 1 / -1;
  }

  &__submit-button {
    grid-column: 1 / -1;
  }

  &__categories {
    padding: 1.6rem 0;          
    font-family: $font-sans;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & option {
      border-radius: $border-radius;
      font: inherit;
      font-size: 1.6rem;

      background-color: $color-decor;
      padding: 0.6rem 1rem;
    }

    & option:hover,
    option:focus,
    option:active,
    option:checked {
      background: $color-soft;
    }
  }
}
